.elNetworkObjectLib-wNodeDetailsForm-form-enum-combobox {
    background-color: white;

    &_valid {
      background-color: #7b0663;
    }
    &-keyStyle{
      padding-bottom: 3px;
      padding-top: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      &_hidden {
          display: none;
      }
   }

    &-innerWrapper{
        background-color: white;
        margin-left: 2px;
        padding-left: 5px;
        margin-bottom: 12px;
        &-header{
            width: 100%;
            overflow: auto;
        }

     }

    &-modelInfoButton{
        padding: 0px 1px;
        float: right;
        opacity:0.2;
    }

    &-modelInfoButton:hover{
        opacity:1;
    }

    &-error{
        display: none;
        &_displayed{
            display: block;
        }
    }
}

